
MySolution/.vs/MySolution/v14/.suo
MySolution/.vs/config/applicationhost.config
*.dll
*.cache
MySolution/MySolution/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MySolution/MySolution/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MySolution/MySolution/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MySolution/MySolution/Web.Debug.config
MySolution/MySolution/Web.Release.config
*.exe
*.nupkg
*.ps1
*.xdt
*.props
*.rtf
*.targets

#ignore All Release and Debug Files.
MySolution/MySolution/obj/*
MySolution/MySolution/Properties/*
MySolution/MySolution/node_modules/*


