
<div class="row" ng-controller="employeeController">

    <!-- Horizontal Form -->
    <div class="box box-info" style="margin:auto; width:50%;">
        <div class="box-header with-border">
            <h3 class="box-title">Filter Result</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-model="model.race"
                                ng-options="g.value for g in model.Genders"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRace" class="col-sm-2 control-label">Race</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-model="model.race"
                                ng-options="r.value for r in model.Races"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPosition" class="col-sm-2 control-label">Position</label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-model="model.position"
                                ng-options="p.value for p in model.Positions"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputKeyWord" class="col-sm-2 control-label">key Word</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email_key_word" placeholder="Enter a key word for Email address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBirthRange" class="col-sm-2 control-label">Birth Date Range</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="birth_date_range" placeholder="Enter a birth date range">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStartRange" class="col-sm-2 control-label">Start Date Range</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="start_date_range" placeholder="Enter a start date range">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" ng-click="filter()" class="btn btn-info pull-right">Filter</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>



    <div class="col-xs-12" style="margin-top:40px;">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="EmployeeListDetails" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Exp(Years)</th>
                            <th>Email</th>
                            <th>Ph Number</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Age</th>
                            <th>Race</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Exp(Years)</th>
                            <th>Email</th>
                            <th>Ph Number</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Age</th>
                            <th>Race</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<script>
    var tableDetaiils = $('#EmployeeListDetails').DataTable();
</script>